<div class="container">
  <div class="row">
    <h1> <%= action_name.capitalize %> Product</h1>
    <!-- 這樣寫就會自動更換名稱 -->
    <%= render partial: "shared/form_error", locals: { object: @product } %>

    <%= form_for [:admin, @product] do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <p><%= image_tag @product.image, width: '300px', class: "edit-image" %></p>
        <span><%= f.file_field :image %></span>
      </div>
      <div class="form-group">
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.number_field :price, in: 1..999 %>
      </div>
      <div class="form-group edit-submit">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>