<% if @product.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for [:admin, @product] do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.label :price, "Price" %>
  <%= f.number_field (:price, in: ${1.0..2000.0}, step: ${1.0}) %>

  <%= f.label :image, "Photo" %>
  <%= image_tag @product.image, width: '300px' if @product.image? %>
  <%= f.file_field :image %>

  <%= f.submit %>
<% end %>