<div class="container">
  <div class="row">
    <h1>Edit Product</h1>
    <% if @product.errors.any? %>
      <h2>We have some errors here !</h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
      <hr>
      <% end %>

        <%= form_for [:admin, @product] do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <p><%= image_tag @product.image, width: '300px', class: "edit-image" if @product.image? %></p>
            <span><%= f.file_field :image %></span>  
              
          </div>
          <div class="form-group">
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.number_field :price, in: 1..999 %>
          </div>
          <div class="form-group edit-submit">
            <%= f.submit %>
          </div>
          <% end %>
  </div>
</div>