<h1><%= @product.name %></h1>

Name: <%= @product.name %>
<br>
Description: <%= @product.description %>
<br>
Price: <%= @product.price %>
<br>
Image: <%= image_tag @product.image, width: '600px' %>
<br>

<%= link_to  "Back to Index", admin_products_path %>