<div class="container">
  <div class="row">
    <div class="col-md-4 pro-image">
      <%= image_tag @product.image, width: '600px', class: "img-responsive center-block" %>
      <br>
    </div>
    <div class="col-md-8">
      <h1><%= @product.name %></h1>
      <strong><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>: <%= @product.price %></strong>
      <br>
      <strong>Description:</strong>
      <br>
      <%= simple_format @product.description %>
    </div>

    <div class="clearfix"></div>
    <hr>
    <div class="col-md-12">
      <%= button_to  "Add to Cart", add_to_cart_product_path(@product), remote: true %>
    </div>
  </div>
</div>